@charset  "UTF-8";

/* Estilo para impressoras*/

*{
  margin: 1opx;
  padding: 10px;
}

html{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  line-height: 1.5em;
  
}

menu{
  display: none;
}

article {
  width: 100%;
}

article::after{
  content: " Esse artigo foi imprimido via Renan Rosostolato";
}