@charset "UTF-8"


*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#76AFEC,#246CB8 )

}

p{
    text-align: justify;
    
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 8px #0c090386;
}

h1{
    color: blue;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(5, 5, 14);
}

h2{ color: #246CB8;

}